.footer(ng-controller='FooterCtrl as footer')
	.container
		.row
			.col-xs-12.col-sm-4
				p.text-white.text-center
					| askjaskajs aksjas jhasahsajshajsh asjhas asjhas aa u  u auausy a
			.col-xs-12.col-sm-4
				p.text-white.text-center
					i.fa(ng-class='strings.website.phone.icon')
					|  {{strings.website.phone.number}}
			.col-xs-12.col-sm-4
				a.pull-right(href='http://futuraagencia.com.br' target='_blank')
					span.fa.fa-cube
					|  Futura Agência